h1{
    font-size: 6rem;
    font-weight: 700;
}

h1, h2{
    font-family: 'Poppins', sans-serif;
    line-height: 112%;
    letter-spacing: -1px;
    color: $gray-300;
}

h2{
    font-size: 4rem;
    font-weight: 600;
    color: $gray-100;
}

h3{
    font-size: 2rem;
    line-height: 150%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $color-button;
    opacity: 0.8;
}
